/*	Base styles */
body{
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

div{
	background-color: #999999;
	border: 1px solid black;
}

.sub-heading1{
	background-color: #D59898;
}

.sub-heading2{
	background-color: #C14543;
}

.sub-heading3{
	background-color: #E5D198;
}

/* Desktop rules */
@media (min-width: 992px){

}

/* Tablet rules */
@media (min-width: 768px) and (max-width: 991px){

}

/* Mobile rules */
@media (max-width: 767px){

}